body{
    background-color: #251e7e;
    color: #fd8a15;
}

.bdr{
    border: 6px solid #fd8a15;
}


span{
    font-style: italic;
    color: grey;
}

.hdr{
    color: #03d288;
    font-weight: bolder;
    
}

.cntrDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbl{
    font-size: 1.2rem;
    font-weight: bold;
}

.ptext{
    font-size: 1.3rem;
    color: grey;
}

.currencySelect{
    font-size: 1.2rem;
}

.currentRate{
    background-color: #FFF;
    height: 40px;
    border-radius: 8px;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
}

.cash{
    text-align: center !important;
    font-size: 1.4rem;
    border-radius: 8px;
    cursor:pointer;
}


.convertedValue{
    background-color: #FFF;
    height: 50px;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 8px;
}

.error{
    border: 2px solid red;
}

.clrBtn{
    width:35%;
}

.calcBtn{
    width:35%;
}

form{
    background-color:  #FFF;
    padding: 0 10 10 10;
}

.errMsg{
    color: red;
    font-weight: bold;
    visibility: hidden;
    font-size: 10px;
}

.datePara{
    color: #fd8a15;
}

.currentRate, .cash, .convertedValue, .currencySelect{
   border: 1px solid grey;
}
